###> app ###

# IDE workspace
/.idea

# Developer sandbox
/__

# Custom environment files
/.env.local
/.env.local.php
/.env.*.local

# Logs
/log
!/log/.gitkeep

# Composer libs
/vendor/

###< app ###
