{% extends "layout/layout.html.twig" %}

{% block header %}
    {% include 'news/formResources.html.twig' %}
{% endblock %}

{% block title %}Create new article "{{  ''|escape }}"{% endblock %}

{% block body %}

{% include 'crud/editForm.html.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center mt-4 mb-4">
            <div class="btn-group">
                <a href="/news/show.php?{{ {'id': id} | url_encode }}" class="btn btn-primary">
                    Back to show
                </a>
                <a href="/news/index.php" class="btn btn-primary">
                    Back to index
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}