{% extends 'layout/layout.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}
    <form action="/login.php" method="post">
        <div class="container-fluid login-form">
            <h4>Log In</h4>
            {% if wrongLogin %}
            <div class="row mb-2">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="error text-danger text-center">
                        Wrong login or password!
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row mb-2">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <label for="login_email">Email</label>
                    <div class="input-group">
                        <div>
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input id="login_email" class="form-control" type="email" name="login[email]" placeholder="example@hammeragency.eu" required="required" />
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <label for="login_password">Password</label>
                    <div class="input-group">
                        <div>
                            <span class="input-group-text" id="basic-addon1">*</span>
                        </div>
                        <input id="login_password" class="form-control" type="password" name="login[password]" placeholder="············" required="required" inp/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <button type="submit" class="btn btn-primary ps-2 pe-2">Login</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}