{% extends "layout/layout.html.twig" %}

{% block title %}Create new article "{{  ''|escape }}"{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="/news/index.php" class="btn btn-primary article-show-button">
                Back to index
            </a>
        </div>
    </div>
</div>
{% endblock %}