<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">News</a>
    {% if loggedInUser is not null %}
        <a class="navbar-brand ms-auto" href="/logout.php">Logout</a>
    {% else %}
        <a class="navbar-brand ms-auto" href="/login.php">Login</a>
    {% endif %}
</nav>
